# ========================================================================
# $File: .gitattributes $
# $Date: 2018-04-16 16:31:43 $
# $Revision: $
# $Creator: Jen-Chieh Shen $
# $Notice: See LICENSE.txt for modification and distribution information
#                   Copyright © 2018 by Shen, Jen-Chieh $
# ========================================================================


# Set default behavior to automatically normalize line endings.
* text=auto
